body {

}

.calculator {
    background-color: blueviolet;
    width: 295px;
    height: 400px;

    display: grid;

    grid-template-columns: 70px 70px 70px 70px;
    grid-template-rows: 80px auto;
    grid-template-areas: 
    "display display display clear"
    "seven eight nine divide"
    "four five six multiply"
    "one two three subtract"
    "zero point plus equals";
    column-gap: 5px;
    row-gap: 5px;
    padding: 10px;
    text-align: center;
    font-size: 20px;


}

.clear {
    grid-area: clear;
    padding-top: 5px;
    background-color: wheat;
}

.display {
    grid-area: display;
    background-color: black;
    color: white;
}

.divide {
    grid-area: divide;
    background-color: wheat;
}

.multiply {
    grid-area: multiply;
    background-color: wheat;

}
.subtract {
    grid-area: subtract;
    background-color: wheat;

}

.equals {
    grid-area: equals;
    background-color: wheat;
}

.plus {
    grid-area: plus;
    background-color: wheat;
}

.point {
    grid-area: point;
    background-color: wheat;
}

.nine {
    grid-area: nine;
    background-color: wheat;

}

.eight {
    grid-area: eight;
    background-color: wheat;

}

.seven {
    grid-area: seven;
    background-color: wheat;

}

.six {
    grid-area: six;
    background-color: wheat;

}

.five {
    grid-area: five;
    background-color: wheat;

}

.four {
    grid-area: four;
    background-color: wheat;

}

.three {
    grid-area: three;
    background-color: wheat;

}

.two {
    grid-area: two;
    background-color: wheat;

}

.one {
    grid-area: one;
    background-color: wheat;

}

.zero {
    grid-area: zero;
    background-color: wheat;

}